html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    height: 100%;
}

body {
    overflow: hidden;
    background-color: #000;
    height: 100%;
    font-family: sans-serif;
    font-size: 0.9em;
    orient: "landscape";
}

canvas {
    -webkit-tap-highlight-color: transparent;
}

#main {
    position: absolute;
    left:     50%;
    top:      50%;
}

#amayaScreenCanvas, #amayaErrorCanvas, #amayaMenuCanvas
{
    position:absolute;
    left:0;
    top:0;
}

#amayaStatusBarCanvas
{
    position:absolute;
    left:0;
}

/* Error Styles */
#error {
    color: #2F4F4F;
    height: 100%;
    padding: 20px;
    background-color: #FFF;
}

#errorTitle {
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 10px;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
}

#errorCode {
    font-size: 0.8em;
    font-weight: bold;
    padding-top: 10px;
}

#errorDetails {
    padding-top: 30px;
    font-size: 0.8em;
}